p{
    color: darkcyan  ;
}

.um{
    color: darkolivegreen;
}

.dois{
    color: cadetblue;
}

#titulo{
    color: darkseagreen;
    border: 2px solid black
}

.tres{
    color: cornflowerblue;
}